/* Configurações Goblais */

@charset "UTF-8";

@font-face {
    font-family: Metropolis;
    src: url(../src/fonts/metropolis/Metropolis-Regular.otf) format('opentype'); font-weight: 300;

    font-family: Metropolis;
    src: url(../src/fonts/metropolis/Metropolis-Medium.otf) format('opentype'); font-weight: 400;

    font-family: 'Neue Machina';
    src: url(../src/fonts/neue/NeueMachina-Regular.otf) format('opentype'); font-weight: 400;
}



@font-face {
    font-family: 'Neue Machina'; 
    src: url(../src/fonts/neue/NeueMachina-Ultrabold.otf) format('opentype'); font-weight: 800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

/* Cores goblais */

:root {
    --corAzul: #3179FF;
    --corBranco: #FFFFFF;
    --corPreto: #151515;
    --corFooter: #101010;
    --corTracadoBotao: rgba(255, 255, 255, .06);
    --corInput: rgba(0, 0, 0, 0.5);
    --corH1: rgba(255, 255, 255, .8);
    --corP: rgba(255, 255, 255, .6);
}

/* Assets */

.tag {
    padding: 16px 20px;
    width: fit-content;
    height: fit-content;
    line-height: 0;
    font-size: 12px;

    background: radial-gradient(ellipse at top center, rgba(255, 255, 255, .25), #ffffff00 70%);
    --webkit-background: radial-gradient(ellipse at top center, rgba(255, 255, 255, .25), #ffffff00 70%);
    border-top: var(--corBranco) solid 1px;
}

.ctaPrincipal {
    display: flex;
    max-width: fit-content;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px 4px 4px 24px;
    transition: box-shadow .3s, transform .3s;

    color: var(--corBranco);
    line-height: 0;
    border-radius: 50px;
    outline: var(--corTracadoBotao) 3px solid;
    box-shadow: #2A61C8 0px 1px 2px inset;
    background-image: linear-gradient(to right, var(--corAzul), #89b2ff, #0a60ff);
    --wewbkit-background-image: linear-gradient(to right, var(--corAzul), #89b2ff, #0a60ff);
}

.ctaPrincipal:hover {
    box-shadow: #2A61C8 0px 1px 2px inset, 0px 0px 15px rgba(117, 152, 218, 0.363);
    transform: translateY(-5px);
}

.ctaSecundaria {
    display: flex;
    max-width: fit-content;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 24px;
    color: var(--corAzul);
    line-height: 0;
    border-radius: 50px;
    background-color: rgba(51, 122, 255, 0.03);
    border: var(--corAzul) .75px solid;
    transition: all .3s;
}

.ctaSecundaria:hover {
    background-color: rgba(51, 122, 255, 0.1);
    transform: translateY(-5px);
}

.ctaComplementar {
    display: flex;
    max-width: fit-content;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 0px;
    color: var(--corAzul);
    line-height: 0;
}

/* Textos globais */

h1 {
    color: var(--corH1);
    font: normal 400 3rem 'Neue Machina', Arial, Helvetica, sans-serif;
    line-height: 3.4rem;
}

h2 {
    line-height: 1.2rem;
    color: var(--corH1);
    font: normal 400 2rem 'Neue Machina', Arial, Helvetica, sans-serif;
}

h3 {
    line-height: auto;
    color: var(--corH1);
    font: normal 400 1.125rem 'Neue Machina', Arial, Helvetica, sans-serif;
}

h4 {
    line-height: auto;
    color: var(--corH1);
    font: normal 800 0.75rem 'Neue Machina', Arial, Helvetica, sans-serif;
}

.destaqueH {
    background-image: linear-gradient(to right, var(--corAzul), #89b2ff, #0a60ff);
    --wewbkit-background-image: linear-gradient(to right, var(--corAzul), #89b2ff, #0a60ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p, a {
    color: var(--corP);
    font: normal 300 1rem/1.5rem Metropolis, Arial, Helvetica, sans-serif;
}

.p2 {
    line-height: 1.3rem;
    font-size: .75rem;
}

.destaqueP {
    font-weight: 500;
    color: var(--corH1);
}

body {
    background-color: var(--corPreto);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
} 

body::-webkit-scrollbar-track {
	background: var(--corFooter);
}

body::-webkit-scrollbar-thumb {
    border: var(--corFooter) solid 3px;
	background: var(--corAzul);
	border-radius: 50px;
}

/*
body::after{
    content:"";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(at 20% 80%, #fff 1px, transparent 0px);
    background-size: 3px 3px;
    pointer-events: none !important;
    z-index: 9999;
    opacity: 0.01;
    mix-blend-mode: plus-lighter;
}
*/

main {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
}

/* Seção hero */

.divHero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    padding: 6% 0 6% 0;
    width: 100%;
    height: 90dvh;
    position: relative;
}

img.heroBg {
    position: absolute;
    z-index: -2;
    top: -2em ;
    right: -8em;
    filter: blur(35px);
    mix-blend-mode: lighten;
}

.divMenu {
    position: fixed;
    z-index: 5;
    top: 3%;
    display: flex;
    width: 100%;
    max-width: 80vw;
    height: fit-content;
    justify-content: space-between;
    border-radius: 50px;
    padding: 1% 1% 1% 1.5%;
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
    border: rgba(59, 101, 179, 0.336) 1px solid;
}

.logoAqui {
    align-self: center;
}

ul.menu {
    display: flex;
    gap: 1.5em;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

ul.menu > li > a:not(.ctaSecundaria)::before, ul.menu > li > svg > path::before {
    content: '';
    position: absolute;
    left: auto;
    bottom: 25%;
    width: 4%;
    height: 2px;
    background: var(--corAzul);
    transform: scaleX(0);
    transition: transform .2s;
}

ul.menu > li > a:hover::before, ul.menu > li > svg > path:hover::before {
    transform: scaleX(1);
}

ul.menu > li > svg > path {
    margin: 2px;
}

ul.menu > li > a:hover, ul.menu > li > svg > path:hover {
    transition: all .5s;
    color: var(--corAzul);
    fill: var(--corAzul);
    stroke: var(--corAzul);
}

.iconMoon > path, .iconSun > path {
    transition: all .5s;
    opacity: 1;
    stroke: var(--corP);
    fill: var(--corP);
}

.inativo {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.menu > li > a.ctaSecundaria {
    color: var(--corP);
    border-color: var(--corP);
}

.menu > li > a.ctaSecundaria:hover {
    color: var(--corAzul);
    border-color: var(--corAzul);
}

.heroContent {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    text-align: center;
}

.heroTextos {
    display: flex;
    max-width: 40vw;
    flex-direction: column;
    gap: .75em;
}

.divCtas {
    display: flex;
    gap: 1.5em;
}

a.aInsta {
    display: flex;
}

.meuinsta {
    display: flex;
    gap: .5em;
    align-items: center;
    justify-content: center;
}

.meuinsta img {
    width: 1.75em;
    height: 1.75em;
    border: .5px solid var(--corAzul);
    border-radius: 50%;
    
}

div.textoInsta {
    position: inline-block;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: .25em;
}

p.meuNome {
    font-size: .9rem;
    color: var(--corH1);
    line-height: 1;
}

p.meuArroba {
    font-size: .8rem;
    color: var(--corP);
    line-height: 1;
}

/* Seção de serviços */

.divServices {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 6% 0;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.servicesTextos {
    display: flex;
    max-width: 35vw;
    text-align: center;
    flex-direction: column;
    gap: .75em;
}

.servicesCards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
    max-width: 80vw;
}

.servicescard {
    position: relative;
    width: 320px;
    height: 200px;
    display: flex;
    padding: 1em 1em;
    align-items: end;
    transition: all .3s;

    border-radius: 1em;
    border: var(--corAzul) .5px solid;
    background-image: linear-gradient(163deg, rgba(59, 101, 179, .03) 50%, rgba(59, 101, 179, .35) 160%);
}

.servicescard:hover {
    width: 520px;
}

.servicesCardContent {
    display: flex;
    flex-direction: column;
    gap: .75em;
    max-width: 290px;
    pointer-events: none;
}

.cardIcone {
    position: absolute;
    top: 1em;
    left: 16.25em;
    pointer-events: none;
    border-radius: 1em;
    box-shadow: 0px 0px 20px rgba(137, 178, 255, 0.445);
}

.flechaProjeto {
    position: absolute;
    top: 1em;
    right: 1em;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
    transition: all .3s;
}

.servicescard > a::before {
    content: "Conhecer";
    color: var(--corAzul);
    width: auto;
    height: auto;
    position: relative;
    right: 1em;
    z-index: 4;
    opacity: 0;
    transition: all .3s;
}

.servicescard > a:hover::before {
    opacity: 1;
}

.imageProjeto {
    position: absolute;
    top: 0;
    right: 0;
    transition: all .3s;
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    width: 200px;
    border-left: var(--corAzul) .5px solid;
    height: 100%;
}

.clientes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    width: -webkit-fill-available;
}

/* Seção de Trabalhos */

.divTrabalhos {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3em;
    padding: 6% 0;
    align-items: center;
    justify-content: center;
}

.trabalhosTextos {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: .75em;
}

.navTrabalhos {
    display: flex;
    gap: 1.5em;
    list-style-type: none;
}

.navTrabalhos > li > button {
    color: var(--corAzul);
    border: var(--corAzul) .5px solid;
    border-radius: 32px;
    padding: 12px 14px;
    background: none;
    transition: all .6  s;
    outline: none;
    font: normal 300 1rem/1rem Metropolis, Arial, Helvetica, sans-serif;
}

.navTrabalhos > li > button:hover {
    background: linear-gradient(163deg, rgba(59, 101, 179, .03) 50%, rgba(59, 101, 179, .35) 160%);
    transition: all .6s;
}

.navTrabalhos > li > button:focus {
    color: var(--corP);
    background-image: none;
    background-color: var(--corAzul);
    border: none;
}

/* Criando carrossel apenas com CSS */

.trabalhosCards {
    display: flex;
    gap: 1.5em;
    width: 81%;
    overflow-x: auto;
    scroll-behavior: smooth;
    anchor-name: --carrossel;
    scroll-snap-type: x mandatory;
}

.trabalhosCards::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: .5em;
}

.trabalhosCards::-webkit-scrollbar {
    display: none;
}

.trabalhosCards::scroll-button(right), .trabalhosCards::scroll-button(left) {
    content: '>';
    border: none;
    background-color: var(--corAzul);
    font-family: Metropolis, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: var(--corBranco);
    height: 2em;
    width: 2em;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    position-anchor: --carrossel;
    position-area: right center;
    translate: -50%;
}

.trabalhosCards::scroll-button(left) {
    content: '<';
    position-area: left center;
    translate: 50%;
}

.trabalhosCards::scroll-button(right):disabled, .trabalhosCards::scroll-button(left):disabled {
    opacity: .5;
    cursor: auto;
}

.trabalhosCard {
    display: flex;
    align-items: end;
    aspect-ratio: 3 / 4;
    padding: 1em;
    background-color: var(--corFooter);
    flex: 0 0 20.625em;
    scroll-snap-align: start;
}

@media (max-width: 500px) {
    .trabalhosCard {
        flex: 0 0 100%;
    }
}

/* Seção de Metodologia e Entrega */

.divMetodologia {
    display: flex;
    gap: 3em;
    padding: 6% 0;
    width: 100%;
    justify-content: center;
}

.metodoContentDiv {
    display: flex;
    flex-direction: column;
    gap: 3em;
    max-width: 38%;
    position: sticky;
    top: 20%;
    height: fit-content;
}

.metodoTextos {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: .75em;
    text-align: start;
}

.metodoCards {
    max-width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2em;
}

.navMetodo {
    display: flex;
    gap: 1.5em;
    list-style-type: none;
    position: sticky;
    top: 20%;
}

.navMetodo > li > button {
    color: var(--corAzul);
    border: var(--corAzul) .5px solid;
    border-radius: 32px;
    padding: 12px 14px;
    background: none;
    transition: all .6  s;
    outline: none;
    font: normal 300 1rem/1rem Metropolis, Arial, Helvetica, sans-serif;
}

.navMetodo > li > button:hover {
    background: linear-gradient(163deg, rgba(59, 101, 179, .03) 50%, rgba(59, 101, 179, .35) 160%);
    transition: all .6s;
}

.navMetodo > li > button:focus {
    color: var(--corP);
    background-image: none;
    background-color: var(--corAzul);
    border: none;
}

.metodo {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.cardMetodo {
    padding: 1.5em;
    border-radius: 1em;
    /* background: linear-gradient(163deg, rgba(59, 101, 179, .03) 50%, rgba(59, 101, 179, .35) 160%); */
    border: var(--corAzul) .5px solid;
    backdrop-filter: blur(10px);
    position: sticky;
    top: 34%;
}

.cardMetodo:nth-child(2) {
top: calc(30.5% + 13%);
}
.cardMetodo:nth-child(3) {
    top: calc(40% + 13%);
}
.cardMetodo:nth-child(4) {
    top: calc(56% + 13%);
}

.metodoContent {
    gap: 1.35em;
}

.cardMetodo > img {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    border-radius: 1em;
    box-shadow: 0px 0px 20px rgba(137, 178, 255, 0.445);
}

.entrega {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 1.5em;
}

.cardEntrega {
    min-width: 30.5em;
    padding: 1.5em;
    border-radius: 1em;
    display: flex;
    position: sticky;
    top: 34%;
    flex-direction: column;
    gap: 3.2em;
    /* background: linear-gradient(163deg, rgba(59, 101, 179, .03) 50%, rgba(59, 101, 179, .35) 160%); */
    border: var(--corAzul) .5px solid;
    backdrop-filter: blur(10px);
}

.entregaContent {
    padding-left: 5%;
}

.entregaContent > li::marker {
    color: var(--corP);
}

.cardEntrega > h2 {
    margin-top: .5em;
    line-height: 0;
    gap: 0;
}

.cardEntrega:nth-child(2) {
    top: calc(35% + 9%);
}
.cardEntrega:nth-child(3) {
    top: calc(44% + 10%);
}
.cardEntrega:nth-child(4) {
    top: calc(54% + 14%);
}
.cardEntrega:nth-child(5) {
    min-height: 16.25em;
}

/* Seção de Formulário */

.divForm {
    display: flex;
    gap: 3em;
    padding: 6% 0;
    width: 100%;
    justify-content: center;
}

.formContent {
    display: flex;
    flex-direction: column;
    gap: 3em;
    max-width: 47%;
    position: sticky;
    top: 20%;
    height: fit-content;
}

.formTextos {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: .75em;
    text-align: start;
}

.contato {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.email, .telefone, .instagram {
    display: flex;
    gap: 1em;
    align-items: center;
}

.email > img, .telefone > img, .instagram > img {
    border-radius: 1em;
    transition: all .3s;
}

.email > img:hover, .telefone > img:hover, .instagram > img:hover {
    box-shadow: 0px 0px 20px rgba(137, 178, 255, 0.445);
}

.formulario {
    background: var(--corBranco);
    color: var(--corPreto);
    display: flex;
    max-width: 35%;
    gap: 1.5em;
    flex-direction: column;
    align-items: center;
    padding: 2em 1.5em;
    border-radius: 1em;
}

.formulario > fildset {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 100%;
    border: none;
}

legend {
    text-align: center;
    font: normal 400 1.5rem 'Neue Machina', Arial, Helvetica, sans-serif;
}

.campoNome, .campoEmail, .campoMensagem, .campoServico {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 100%;
}

.servicosEscolha {
    display: flex;
    gap: .75em;
    flex-wrap: wrap;
    padding-left: 1.5em;
}

.campoServico > div {
    display: flex;
    gap: 1em;
}

.campoServico > div > div {
    display: flex;
    gap: .25em;
}

.campoNome > label, .campoEmail > label, .campoMensagem > label {
    line-height: auto;
    padding-left: 1.5em;
    font: normal 400 .85rem 'Neue Machina', Arial, Helvetica, sans-serif;
}

.campoServico label {
    line-height: auto;
    align-items: center;
    justify-content: center;
    padding-left: .25em;
    font: normal 400 .85rem 'Neue Machina', Arial, Helvetica, sans-serif;
}

.campoNome > input, .campoEmail > input, .campoServico input {
    padding: 1em 1em;
    height: 1em;
    border-radius: 1.5em;
    outline: none;
    border: var(--corInput) solid 1px;
    font: normal 300 1rem Metropolis, Arial, Helvetica, sans-serif;
}

.servicosEscolha {
    padding: 1em 1em;
    display: flex;
    height: auto;
    border-radius: 1em;
    outline: none;
    gap: 1.25em;
    border: var(--corInput) solid 1px;
    font: normal 300 1rem Metropolis, Arial, Helvetica, sans-serif;
}

.campoMensagem > textarea {
    padding: 1em 1em;
    height: 5em;
    border-radius: 1em;
    outline: none;
    border: var(--corInput) solid 1px;
    font: normal 300 1rem Metropolis, Arial, Helvetica, sans-serif;
    resize: none;
}

.btnSubmit {
    display: flex;
    width: 98%;
    align-items: center;
    justify-content: center;
    padding: .5em;
    cursor: pointer;
    transition: all .3s;

    color: var(--corPreto);
    border-radius: 4em;
    border: none;
    outline: var(--corTracadoBotao) 3px solid;
    box-shadow: #2A61C8 0px 1px 2px inset;
    background-image: linear-gradient(to right, var(--corAzul), #89b2ff, #0a60ff);
    --wewbkit-background-image: linear-gradient(to right, var(--corAzul), #89b2ff, #0a60ff);
}

.btnSubmit:hover {
    transform: translateY(-3px);
    width: 100%;
}

.btnSubmit:active {
    transform: translateY(0px);
    width: 98%;
}

/* Seção Footer */

footer.divFooter {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100vw;
    align-items: center;
    background-color: var(--corFooter);
}

.footerContent {
    padding: 2em 1em 0 1em;
    display: flex;
    max-width: 1100px;
    width: 100%;
    justify-content: space-around;
}

.footerContent ul {
    list-style: none;
}

.footerContent a:hover {
    text-decoration: underline;
}

.footerBrand, .footerLinks, .footerServicos, .footerContato {
    display: flex;
    flex-direction: column;
    gap: .75em;
    width: 14em;
}

.footerServicos {
    width: 10em;
}

.footerContato {
    width: 16em;
}

div.footerDireitos {
    display: flex;
    width: 100%;
    max-width: 1100px;
    align-items: center;
    justify-content: space-between;
    border-top: var(--corTracadoBotao) solid 1px;
    padding: 1em;
}

div.footerDireitos p {
    font-size: .75rem;
}

div.footerDireitos p:hover {
    text-decoration: underline;
}

.politica {
    display: flex;
    gap: 1.5em;
}

/* Responsividade */

/*
- Laptop
    - Cards de serviços, deixar apenas 2 por linha
- Tablet paisagem
    - Largura dos textos das seções 1 e 2 muito pequenos
    - Cards da metodologia estão com padding top muito grande 
- Tablet retrato
    - Largura dos textos das seções 1 e 2 muito pequenos
    - Cards da metodologia estão com padding top muito grande
    - Carrossel do portdolio, faltando margin lateral e deixar apenas 2 cards visíveis
    - Div de metodologia e formulario faltando margin lateral
    - Cards de serviços, deixar apenas 1 por linha
- Celular paisagem
    - Diminuir tamanho dos textos em geral (diminuir no body)
    - Cards de serviço de portfolio, deixar apenas 1 por linha
    - 
*/

/* Utrawide */

@media (min-width: 1921px) {
    body {
        width: 100vw;
        max-width: 100vw;
    }
    .divHero {
        height: auto;
    }
    .heroContent, .servicesTextos {
        width: 60%;
    }
    .divMenu {
        max-width: 1280px;
    }
}

/* Laptop */

@media (max-width: 1366px) {
    .divHero {
        height: auto;
    }
    .heroTextos, .servicesTextos {
        max-width: 60%;
    }
}