/* Configurações Goblais */

@charset "UTF-8";

@font-face {
    font-family: Metropolis;
    src: url(../src/fonts/metropolis/Metropolis-Regular.otf) format('opentype'); font-weight: 300;

    font-family: Metropolis;
    src: url(../src/fonts/metropolis/Metropolis-Medium.otf) format('opentype'); font-weight: 400;

    font-family: 'Neue Machina';
    src: url(../src/fonts/neue/NeueMachina-Regular.otf) format('opentype'); font-weight: 400;
}



@font-face {
    font-family: 'Neue Machina'; 
    src: url(../src/fonts/neue/NeueMachina-Ultrabold.otf) format('opentype'); font-weight: 800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

/* Cores goblais */

:root {
    --corAzul: #3179FF;
    --corBranco: #FFFFFF;
    --corPreto: #151515;
    --corFooter: #101010;
    --corTracadoBotao: rgba(255, 255, 255, .06);
    --corInput: rgba(255, 255, 255, .5);
    --corH1: rgba(255, 255, 255, .8);
    --corP: rgba(255, 255, 255, .6);
}

/* Assets */

.tag {
    padding: 16px 20px;
    width: fit-content;
    height: fit-content;
    line-height: 0;
    font-size: 12px;

    background: radial-gradient(ellipse at top center, rgba(255, 255, 255, .25), #ffffff00 70%);
    --webkit-background: radial-gradient(ellipse at top center, rgba(255, 255, 255, .25), #ffffff00 70%);
    border-top: var(--corBranco) solid 1px;
}

.ctaPrincipal {
    display: flex;
    max-width: fit-content;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px 4px 4px 24px;

    color: var(--corBranco);
    line-height: 0;
    border-radius: 50px;
    outline: var(--corTracadoBotao) 3px solid;
    box-shadow: #2A61C8 0px 1px 2px inset;
    background-image: linear-gradient(to right, var(--corAzul), #89b2ff, #0a60ff);
    --wewbkit-background-image: linear-gradient(to right, var(--corAzul), #89b2ff, #0a60ff);
}

.ctaSecundaria {
    display: flex;
    max-width: fit-content;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 24px;
    color: var(--corAzul);
    line-height: 0;
    border-radius: 50px;
    background-color: rgba(51, 122, 255, 0.03);
    border: var(--corAzul) .75px solid;
}

.ctaComplementar {
    display: flex;
    max-width: fit-content;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 0px;
    color: var(--corAzul);
    line-height: 0;
}

/* Textos globais */

h1 {
    color: var(--corH1);
    font: normal 400 3rem 'Neue Machina', Arial, Helvetica, sans-serif;
    line-height: 3.4rem;
}

h2 {
    line-height: 1.2rem;
    color: var(--corH1);
    font: normal 400 2rem 'Neue Machina', Arial, Helvetica, sans-serif;
}

h3 {
    line-height: auto;
    color: var(--corH1);
    font: normal 400 1.125rem 'Neue Machina', Arial, Helvetica, sans-serif;
}

h4 {
    line-height: auto;
    color: var(--corH1);
    font: normal 800 0.75rem 'Neue Machina', Arial, Helvetica, sans-serif;
}

.destaqueH {
    background-image: linear-gradient(to right, var(--corAzul), #89b2ff, #0a60ff);
    --wewbkit-background-image: linear-gradient(to right, var(--corAzul), #89b2ff, #0a60ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p, a {
    color: var(--corP);
    font: normal 300 1rem/1.5rem Metropolis, Arial, Helvetica, sans-serif;
}

.p2 {
    line-height: 1.3rem;
    font-size: .75rem;
}

.destaqueP {
    font-weight: 500;
    color: var(--corH1);
}

body {
    background-color: var(--corPreto);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    overflow-x: hidden;
}

/* textura
body::after{
    content:"";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(at 20% 80%, #fff 1px, transparent 0px);
    background-size: 2px 2px;
    pointer-events: none !important;
    z-index: 9999;
    opacity: 0.05;
    mix-blend-mode: plus-lighter;
}
*/

main {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
}

/* Seção hero */

.divHero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    padding: 6% 0 6% 0;
    width: 100%;
    height: 90dvh;
}

.divMenu {
    position: fixed;
    z-index: 5;
    top: 3%;

    display: flex;
    width: 80vw;
    height: fit-content;
    justify-content: space-between;
    border-radius: 50px;
    padding: 1% 1% 1% 2%;
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
    border: rgba(59, 101, 179, 0.068) .5px solid;
}

.logoAqui {
    align-self: center;
}

ul.menu {
    display: flex;
    gap: 1.5em;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

ul.menu > li > a::before {
    content: '';
    position: absolute;
    left: auto;
    bottom: 25%;
    width: 4%;
    height: 2px;
    background: var(--corAzul);
    transform: scaleX(0);
    transition: transform .3s;
}

ul.menu > li > a:hover::before {
    transform: scaleX(1);
}

ul.menu > li > a:hover {
    transition: all .3s;
    color: var(--corAzul);
}

.heroContent {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    text-align: center;
}

.heroTextos {
    display: flex;
    max-width: 60vw;
    flex-direction: column;
    gap: .75em;
}

.heroTextos > p {
    max-width: 40vw;
    align-self: center;
}

.divCtas {
    display: flex;
    gap: 1.5em;
}

/* Seção de serviços */

.divServices {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 6% 0;
    align-items: center;
    justify-content: center;
}

.servicesTextos {
    display: flex;
    max-width: 35vw;
    text-align: center;
    flex-direction: column;
    gap: .75em;
}

.servicesCards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
    max-width: 80vw;
}

.servicescard {
    position: relative;
    width: 320px;
    height: 200px;
    display: flex;
    padding: 1em 1em;
    align-items: end;
    transition: all .3s;

    border-radius: 1em;
    border: var(--corAzul) .5px solid;
    background-image: linear-gradient(163deg, rgba(59, 101, 179, .03) 50%, rgba(59, 101, 179, .35) 160%);
}

.servicescard:hover {
    width: 520px;
}

.servicesCardContent {
    display: flex;
    flex-direction: column;
    gap: .75em;
    max-width: 290px;
    pointer-events: none;
}

.cardIcone {
    position: absolute;
    top: 1em;
    left: 16.25em;
    pointer-events: none;
}

.flechaProjeto {
    position: absolute;
    top: 1em;
    right: 1em;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
    transition: all .3s;
}

.imageProjeto {
    position: absolute;
    top: 0;
    right: 0;
    transition: all .3s;
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    width: 200px;
    border-left: var(--corAzul) .5px solid;
    height: 100%;
}

.clientes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    width: -webkit-fill-available;
}

/* Seção de Trabalhos */

.divTrabalhos {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 6% 0;
    align-items: center;
    justify-content: center;
}

.trabalhosTextos {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: .75em;
}

.navTrabalhos {
    display: flex;
    gap: 1.5em;
    list-style-type: none;
}

.navTrabalhos > li > button {
    color: var(--corAzul);
    border: var(--corAzul) .5px solid;
    border-radius: 32px;
    padding: 12px 14px;
    background: none;
    transition: all .6  s;
    outline: none;
    font: normal 300 1rem/1rem Metropolis, Arial, Helvetica, sans-serif;
}

.navTrabalhos > li > button:hover {
    background: linear-gradient(163deg, rgba(59, 101, 179, .03) 50%, rgba(59, 101, 179, .35) 160%);
    transition: all .6s;
}

.navTrabalhos > li > button:focus {
    color: var(--corP);
    background-image: none;
    background-color: var(--corAzul);
    border: none;
}

.trabalhosCards {
    display: flex;
    gap: 24px;
}

.trabalhosCard {
    display: flex;
    align-items: end;
    width: 330px;
    height: 430px;
    padding: 16px;
    background-color: var(--corFooter);
}

.navDinamica {
    display: flex;
    gap: 10px;
    align-items: center;
}

.flecha {
    content: "";
    height: 10px;
    width: 10px;
    background-image: url(../src/assets/icone-flecha.svg);
}

.bolinha {
    content: "";
    border-radius: 50px;
    width: 5.5px;
    height: 5px;
    background-color: var(--corBranco);
    transition: all .3s;
}

.bolinha:focus {
    background-color: var(--corAzul);
}

/* Seção de Metodologia e Entrega */

.divMetodologia {
    display: flex;
    gap: 3em;
    padding: 6% 0;
    justify-content: center;
}

.metodoContentDiv {
    display: flex;
    flex-direction: column;
    gap: 3em;
    max-width: 38%;
    position: sticky;
    top: 20%;
    height: fit-content;
}

.metodoTextos {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: .75em;
    text-align: start;
}

.metodoCards {
    max-width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2em;
}

.navMetodo {
    display: flex;
    gap: 1.5em;
    list-style-type: none;
    position: sticky;
    top: 20%;
}

.navMetodo > li > button {
    color: var(--corAzul);
    border: var(--corAzul) .5px solid;
    border-radius: 32px;
    padding: 12px 14px;
    background: none;
    transition: all .6  s;
    outline: none;
    font: normal 300 1rem/1rem Metropolis, Arial, Helvetica, sans-serif;
}

.navMetodo > li > button:hover {
    background: linear-gradient(163deg, rgba(59, 101, 179, .03) 50%, rgba(59, 101, 179, .35) 160%);
    transition: all .6s;
}

.navMetodo > li > button:focus {
    color: var(--corP);
    background-image: none;
    background-color: var(--corAzul);
    border: none;
}

.metodo {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.cardMetodo {
    padding: 1.5em;
    border-radius: 1em;
    /* background: linear-gradient(163deg, rgba(59, 101, 179, .03) 50%, rgba(59, 101, 179, .35) 160%); */
    border: var(--corAzul) .5px solid;
    backdrop-filter: blur(10px);
    position: sticky;
    top: 34%;
}

.cardMetodo:nth-child(2) {
    top: calc(34% + 13%);
}
.cardMetodo:nth-child(3) {
    top: calc(47% + 13%);
}
.cardMetodo:nth-child(4) {
    top: calc(60% + 13%);
}

.metodoContent {
    gap: 1.35em;
}

.cardMetodo > img {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
}

.entrega {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 1.5em;
}

.cardEntrega {
    min-width: 30.5em;
    padding: 1.5em;
    border-radius: 1em;
    display: flex;
    position: sticky;
    top: 34%;
    flex-direction: column;
    gap: 3.2em;
    /* background: linear-gradient(163deg, rgba(59, 101, 179, .03) 50%, rgba(59, 101, 179, .35) 160%); */
    border: var(--corAzul) .5px solid;
    backdrop-filter: blur(10px);
}

.entregaContent {
    padding-left: 5%;
}

.entregaContent > li::marker {
    color: var(--corP);
}

.cardEntrega > h2 {
    margin-top: .5em;
    line-height: 0;
    gap: 0;
}

.cardEntrega:nth-child(2) {
    top: calc(35% + 9%);
}
.cardEntrega:nth-child(3) {
    top: calc(44% + 10%);
}
.cardEntrega:nth-child(4) {
    top: calc(54% + 14%);
}
.cardEntrega:nth-child(5) {
    min-height: 16.25em;
}
