@charset "UTF-8";

@import url('../global/global.css');
@import url('../global/assets.css');
@import url('../global/fonts.css');

@import url('./secao-hero.css');


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100dvh;
  overflow-x: hidden;

  font-size: 1rem;
  background-color: var(--corPreto);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--corFooter);
}

body::-webkit-scrollbar-thumb {
    border: var(--corFooter) solid 3px;
    background: var(--corAzul);
    border-radius: 50px;
}
