@charset "UTF-8";

@font-face {
    font-family: Metropolis;
    src: url(../../fonts/metropolis/Metropolis-Regular.otf) format('opentype'); font-weight: 300;

    font-family: Metropolis;
    src: url(../../fonts/metropolis/Metropolis-Medium.otf) format('opentype'); font-weight: 400;

    font-family: 'Neue Machina';
    src: url(../../fonts/neue/NeueMachina-Regular.otf) format('opentype'); font-weight: 400;
}

@font-face {
    font-family: 'Neue Machina'; 
    src: url(../../fonts/neue/NeueMachina-Ultrabold.otf) format('opentype'); font-weight: 800;
}

h1 {
  color: var(--corH1);
  font: normal 400 3rem 'Neue Machina', Arial, Helvetica, sans-serif;
  line-height: 3.4rem;
}

h2 {
  line-height: 1.2rem;
  color: var(--corH1);
  font: normal 400 2rem 'Neue Machina', Arial, Helvetica, sans-serif;
}

h3 {
  line-height: auto;
  color: var(--corH1);
  font: normal 400 1.125rem 'Neue Machina', Arial, Helvetica, sans-serif;
}

h4 {
  line-height: auto;
  color: var(--corH1);
  font: normal 800 0.75rem 'Neue Machina', Arial, Helvetica, sans-serif;
}

.destaqueH {
  background-image: linear-gradient(to right, var(--corAzul), #89b2ff, #0a60ff);
  --wewbkit-background-image: linear-gradient(to right, var(--corAzul), #89b2ff, #0a60ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p,
a {
  color: var(--corP);
  font: normal 300 1rem/1.5rem Metropolis, Arial, Helvetica, sans-serif;
}

.p2 {
  line-height: 1.3rem;
  font-size: .75rem;
}

.destaqueP {
  font-weight: 500;
  color: var(--corH1);
}

@media screen and (max-width: 880px) {
  
}