@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

:root {
    --corAzul: #3179FF;
    --corBranco: #FFFFFF;
    --corPreto: #151515;
    --corFooter: #101010;
    --corTracadoBotao: rgba(255, 255, 255, .06);
    --corInput: rgba(0, 0, 0, 0.5);
    --corH1: rgba(255, 255, 255, .8);
    --corP: rgba(255, 255, 255, .6);
}