@charset "UTF-8";

@import url('../global/global.css');
@import url('../global/assets.css');
@import url('../global/fonts.css');

@import url('./secao-hero.css');
@import url('./secao-servicos.css');
@import url('./secao-trabalhos.css');
@import url('./secao-metodologia.css');
@import url('./secao-formulario.css');
@import url('./footer.css');



body {
    background-color: var(--corPreto);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--corFooter);
}

body::-webkit-scrollbar-thumb {
    border: var(--corFooter) solid 3px;
    background: var(--corAzul);
    border-radius: 50px;
}

/* textura

body::after{
    content:"";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(at 20% 80%, #fff 1px, transparent 0px);
    background-size: 3px 3px;
    pointer-events: none !important;
    z-index: 9999;
    opacity: 0.01;
    mix-blend-mode: plus-lighter;
}
*/

main {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
}

/* Responsividade */



/*
- Laptop
    - Cards de serviços, deixar apenas 2 por linha
- Tablet paisagem
    - Largura dos textos das seções 1 e 2 muito pequenos
    - Cards da metodologia estão com padding top muito grande 
- Tablet retrato
    - Largura dos textos das seções 1 e 2 muito pequenos
    - Cards da metodologia estão com padding top muito grande
    - Carrossel do portdolio, faltando margin lateral e deixar apenas 2 cards visíveis
    - Div de metodologia e formulario faltando margin lateral
    - Cards de serviços, deixar apenas 1 por linha
- Celular paisagem
    - Diminuir tamanho dos textos em geral (diminuir no body)
    - Cards de serviço de portfolio, deixar apenas 1 por linha
    - 
*/

/* Utrawide */

@media screen and (min-width: 1921px) {
    body {
        width: 100vw;
        max-width: none;
    }

    .divHero {
        height: auto;
    }

    .heroContent,
    .servicesTextos {
        max-width: none;
    }

    .divMenu {
        max-width: 1280px;
    }
}

/* Laptop */

@media screen and (max-width: 1366px) {
    .divHero {
        height: auto !important;
    }

    .heroTextos,
    .servicesTextos {
        max-width: 60%;
    }
}