@charset "UTF-8";


section.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  padding: 6% 0 6% 0;
  width: 100%;
  height: 100dvh;
  position: relative;
  background: url('../../imagens/index/bg-hero.webp') no-repeat top right;
  background-size: contain;
}

/* CONTEÚDO HERO */

main.conteudo-hero {
  display: flex;
  margin-top: 10vh;
  width: 90%;
  justify-content: space-between;
}

div.conteudo-hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2em;
  text-align: center;
}

div.textos-hero {
  display: flex;
  width: 40.625em;
  flex-direction: column;
  gap: 1.25em;
  text-align: left;
}

div.ctas-hero {
  display: flex;
  gap: 1.5em;
}

@media screen and (max-width: 1200px) {
  main.conteudo-hero div.textos-hero {
    width: 80%;
  }

  section.hero {
    width: 100vw;
    flex-direction: column;
  }
}

/* NAV */

nav {
  position: fixed;
  z-index: 10;
  top: 3%;
  display: flex;
  width: 100%;
  max-width: 1280px;
  height: fit-content;
  justify-content: space-between;
  border-radius: 50px;
  padding: 1.5% 2% 1.5% 2%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.01);
  --webkit-backdrop-filter: blur(10px);
  border: rgba(59, 101, 179, 0.336) 1px solid;
}

/* INSTAGRAM */

a.link-insta {
  display: flex;
}

div.meu-insta {
  display: flex;
  gap: .5em;
  align-items: center;
  justify-content: center;
}

img {
  width: 1.75em;
  height: 1.75em;
  border: .5px solid var(--corAzul);
  border-radius: 50%;
}

div.textos-insta {
  position: inline-block;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: .25em;
  transition: all .3s;
}

p.meu-nome-insta {
  font-size: .9rem;
  color: var(--corH1);
  line-height: 1;
  transition: all .3s;
}

p.meu-arroba-insta {
  font-size: .8rem;
  color: var(--corP);
  line-height: 1;
}

/* MENU  */

ul.menu-padrao {
  display: flex;
  gap: 1.5em;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

ul.menu-padrao li a::before {
  content: '';
  position: absolute;
  bottom: 30%;
  width: 4%;
  height: 2px;
  background: var(--corAzul);
  transform: scaleX(0);
  transition: transform .2s;
}

ul.menu-padrao li a:hover::before {
  transform: scaleX(1);
}

ul.menu-padrao li svg path {
  margin: 2px;
}

ul.menu-padrao li a:hover,
ul.menu-padrao li svg path:hover {
  transition: all .3s;
  color: var(--corAzul);
  fill: var(--corAzul);
  stroke: var(--corAzul);
}

.iconMoon path,
.iconSun path {
  transition: all .3s;
  opacity: 1;
  stroke: var(--corP);
  fill: var(--corP);
}

.inativo {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

/* MOBILE MENU */

div.menu-mobile {
  display: none;
  cursor: pointer;
  z-index: 3;
  transition: all .3s;
}

div.menu-mobile div {
  width: 1.75em;
  height: .125em;
  background-color: var(--corP);
  margin: .5em;
  transition: all .3s;
}

div.menu-mobile:hover div {
  background-color: var(--corAzul);
}

div.menu-mobile.active div.line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

div.menu-mobile.active div.line2 {
  opacity: 0;
}

div.menu-mobile.active div.line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

@media screen and (max-width: 840px) {
  section.hero nav {
    border-radius: 30px;
    padding: 1.5% 2.5% 1.5% 2.5%;
    justify-content: space-between;
    transition: all .3s;
    min-width: 130px;
  }

  ul.menu-padrao {
    flex-direction: column;
    position: absolute;
    right: 0;
    opacity: 0;
    pointer-events: none;
    max-width: 0;
    max-height: 0;
    overflow: hidden;
    transition: all .3s;

    li {
      opacity: 0;
      pointer-events: none;
      transition: all .3s;
    }
  }

  ul.menu-padrao li a:hover::before,
  ul.menu-padrao li svg path::before {
    opacity: 0;
    transform: scaleX(0);
  }

  section.hero nav ul.menu-padrao.active {
    opacity: 1;
    pointer-events: auto;
    position: static;
    max-width: 500px;
    max-height: 500px;

    li {
      opacity: 1;
      pointer-events: auto;
    }
  }

  div.menu-mobile {
    display: block;
  }

  section.hero nav a.link-insta.active {
    display: none;
    pointer-events: none;
    z-index: -1;
  }

  section.hero nav.active {
    flex-direction: column;
    right: 5%;
    width: fit-content;
    align-items: center;
    gap: 1.5em;
    text-align: right;
  }
}
